{
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import",
    "unused-imports",
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true, // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
        // Choose from one of the "project" configs below or omit to use <root>/tsconfig.json by default
        // use <root>/path/to/folder/tsconfig.json
        "project": "./tsconfig.json",
        "node": {
          "extensions": [
            ".js",
            ".ts"
          ]
        }
      }
    }
  },
  "rules": {
    "no-console": "off",
    "no-redeclare": "off",
    "max-len": "off",
    "comma-dangle": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "lines-between-class-members": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/comma-dangle": [
      "off"
    ],
    "@typescript-eslint/lines-between-class-members": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never"
      }
    ],
    "unused-imports/no-unused-imports": "error",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}